/**
 *  Horizontal CSS Drop-Down Menu for Moodle settings
 */
ul.dropdown,ul.dropdown li,ul.dropdown ul{list-style:none;margin:0;padding:0;}
ul.dropdown{position:relative;z-index:597;float:center;font:16px "Arial";font-weight:bold;text-shadow: 0 1px 0 #000;}
ul.dropdown li{float:left;line-height:1.3em;vertical-align:middle;color:#fff;zoom:1 !important;}
ul.dropdown li.hover,ul.dropdown li:hover{position:relative;z-index:599;cursor:default;}
ul.dropdown ul{visibility:hidden;position:absolute;top:100%;z-index:598;left:auto;right:0;margin-top:-1px;border-top:none;border-left:none;font:13px "Trebuchet MS",Arial,Helvetica,sans-serif;}
ul.dropdown ul li{float:none;background-color:#3a3a3a;padding:0;}
ul.dropdown ul ul{top:0;right:auto;left:100%;margin-top:0;border-top:none;border-left:none;font-weight:400;}
ul.dropdown li:hover > ul{visibility:visible;}
ul.dropdown span,ul.dropdown span a,ul.dropdown li.clickable-with-children > a{background-image:none;background-position:100% 50%;background-repeat:no-repeat;width:145px;padding:2px 6px 4px 20px;text-align:left;}
ul.dropdown ul span, ul.dropdown ul span a, ul.dropdown ul li.clickable-with-children > a{background-image:url([[pix:theme|nav-arrow-right]]);background-position:100% 50%;background-repeat:no-repeat;}
ul.dropdown ul ul span, ul.dropdown ul ul span a, ul.dropdown ul ul li.clickable-with-children > a{background-image:url([[pix:theme|nav-arrow-right2]]);}
ul.dropdown a:link,ul.dropdown a:visited{color:#fff;text-decoration:none;}
ul.dropdown a:hover{border-top-color:#5db1e0 !important;border-left-color:#7cc015;background-color:#7cc015;color:#fff;}
ul.dropdown li.clickable-with-children > a:hover {border-top-color:#595959 !important;}
ul.dropdown ul a.dir:hover{background-color:#4698ca;background-image:url([[pix:theme|ab-arrowon]]);color:#fff;}
ul.dropdown ul ul li{background-color:#4c4c4c;}
ul.dropdown ul ul ul li{background-color:#595959;}
ul.dropdown li a,ul.dropdown span,ul.dropdown span a{border-none;}   ////////lines around top level menu boxes///////
ul.dropdown ul li a,ul.dropdown ul span,ul.dropdown ul span a{border-left:none;border-color:#4a4a4a #242424 #242424;}
ul.dropdown ul ul li a,ul.dropdown ul ul span, ul.dropdown ul ul span a{border-none;}
ul.dropdown ul ul ul li a,ul.dropdown ul ul ul span, ul.dropdown ul ul ul span a{border-color:#767676 #404040 #404040;}
ul.dropdown a,ul.dropdown span{display:block;}
ul.dropdown ul a{width:166px;padding:2px 0 4px 5px;}
ul.dropdown ul a.dir{width:111px;}
ul.dropdown ul *.open{background-color:#4c4c4c;background-image:url([[pix:theme|ab-arrowover]]);color:#fff;}
ul.dropdown ul a.open:hover{background-image:url([[pix:theme|ab-arrowon]]);color:#fff;}
ul.dropdown ul li:hover > span, ul.dropdown ul li:hover > span a{background-color:#4c4c4c;background-image:url([[pix:theme|ab-arrowover]]);}
ul.dropdown li.clickable-with-children:hover > a{background-image:url([[pix:theme|ab-arrowover]]);}
ul.dropdown *.open,ul.dropdown li:hover > span, ul.dropdown li:hover > span a{background-color:#3d3d3d;}
ul.dropdown ul ul *.open,ul.dropdown ul ul li:hover > span, ul.dropdown ul ul li:hover > span a{background-color:#595959;background-image:url([[pix:theme|ab-arrowover2]]);color:#fff;}
ul.dropdown a.open:hover,ul.dropdown li:hover > a.dir:hover{background-color:#4698ca;color:#fff;}
ul.dropdown a:active,ul.dropdown ul li:hover > a.dir:hover{color:#fff;}

/* Custom Menu

-------------------------- */



#custommenu { 

	width: 100%; 

	margin: 0; 

	padding: 0;

	clear:both; 

	height: 30px; 

	background: url([[pix:theme|menu/shineybg]]) repeat-x center top;

	margin:0;

	border: solid 1px #7cc015;

	
	
}



ul.dropdown span.customitem { 

        background: transparent no-repeat right top; 

	padding:0;

	border:0; 

	width: 100%;

}



ul.dropdown span.customitem a { padding:6px 20px 6px 20px;}

ul.dropdown span.customitem a:hover { border-left-color: #7cc015;border-top-color: #ffffff !important;}

#custommenu ul.dropdown ul { padding:0;width:185px;}

#custommenu ul.dropdown ul a { padding:4px 0px 4px 18px;}

#custommenu ul.dropdown > li span a { height:16px;}

