html {

	background: #32352c center top repeat-x;

}



body {

	color:#508601;font-weight: bold;

}


/*ialex modifications 
.box.contents { color:black; }*/

.error { color:red; }
body .no-overflow{ color:black; }

#page { font-size: 90%;}


span {
	margin:5px;
}

a:link {        /* Defining all link styles*/
    color: #32352c;

}a:visited {

        color:#42541a;

	text-decoration: none;

}

a:hover, a:active {

        color: #284400;

	text-decoration: none;



}

a.dimmed:link,

a.dimmed:visited {

	color:#008000;

	text-decoration: none;

}



#page-content-outer,

#page-content {

        background: #ffffff url([[pix:theme|core/h2grad]]) repeat-x left top; 

}



#region-main-box,

#region-post-box { margin-top: 15px;}





hr {

	border-bottom:1px dotted gray;

	border-top:0px;

}





/* 

Core: Page Header and Logo

---------------------------*/





#page-header {

	height: 100px;

	width: 100%;

}







#logo { 

	background: url([[pix:theme|header/logo2]]) no-repeat left top;

	width: 100%;

	height: 100px;

	float: left;
	
	border: solid 1px; border-right-color: #7cc015; border-bottom-color:#7cc015; border-left-color: #7cc015; border-top-color:#7cc015;


}



/* 

Core: Page Footer

-----------------------*/





#page-footer {

	background: #ffffff url([[pix:theme|core/h2grad]]) repeat-x left top;

	height: 150px;

	clear:both;

	float:left;

	width:96%;

	padding: 0 2%;

	color: #508601;

	border-top:1px dotted #ddd;

	line-height: 2.5em;

	font-size: 1em;

}



#page-footer a:link,

#page-footer a:visited  {

	color: #32352c;

	text-decoration:none;

}

#page-footer a:hover,

#page-footer a:active { 

	color: #508601;

	text-decoration:underline overline;

}



#page-footer p { 

	text-align: center;

	margin: 0px;

	padding: 0px;

	line-height: 1em;

	font-size: 75%;

}



#page-footer p.copyright { 

	margin-top: 0px

	margin-bottom: 3px; 

}



#page-footer .socioweb-icons { 

	margin-top: 5px;

}



#page-footer .socioweb-icons ul { 

        margin: 0px;

	padding: 0px;

	width: 100%;

}



#page-footer .socioweb-icons ul li { 

	display: inline; 

	height: 30px;

	margin: 0;

	padding: 0;

}





/* 

Modules: Forum

-----------------------*/





.forumpost .row.maincontent {
	background: #ffffff url([[pix:theme|forum/leftpost]]) no-repeat left top;

}

.forumpost .row.header {

	background: #32352c url([[pix:theme|forum/forumheader]]) repeat left top;

	border:0px;

}



.forumpost .content .posting {

	margin-top: 15px;

	max-width:100%;

	overflow: crop;

}

.forumpost .topic a:link,

.forumpost .topic a:visited { 

	color: #c0c0c0;

}



/* 

General Box

-----------------------*/



.generalbox {

border:0 none;

}



/* 

Miscellaneous

-----------------------*/



/* 

Profileblock

-----------------------*/



#profileblock {

	float: right;

	text-align: right;

	width: 400px;

	height: auto;

	margin: 0;

	padding: 0;
	color:#508601;
	font-weight: bold;

}



.headermenu {

	float:right;

	font-size:1em;

	margin:0px;

	text-align:right;

}



div.user-pic img.userpicture {

	float: right;

	clear: right;

	margin: 8px 8px 8px 0;

	padding: 0;

	width: 80px;

	height: 80px;

	border: 1px solid #fff;

}



div#post-log { margin-right: 5px;}

div#pro-opt {

	float: right;

	margin-right: 10px;

	padding: 0;

	width: 300px;

}



div#pro-opt p.pro-log a,

div#pro-opt p.pro-log a:link {

	color: #284400;

}



div#pro-opt p.pro-log a:hover {

	color: green;

}



/* 

Course - Topic

-----------------------*/



.course-content ul.topics li.section .content {

border:1px solid #DDDDDD;

margin:0 40px;

}
/*
Custom Menu CSS
adjusting awesomebar css
------------------------*/

#krystlemenu ul li span a {padding:0; border:0;width:auto;}
#krystlemenu ul li ul li span a {padding:0;margin-left:-15px;}
