/* 

Page Layout and Docking Module for Gekko Moodle 2.0 Theme Set

-----------------------------------------------------------------*/



#page { 

	width: 95%; 

	margin: 2% auto;

	padding:0;

	border: 5px solid #fff;

}





/* 

3 Column Page Layout

-----------------------*/ 



#page-content-outer {

	clear:both;

	margin: 0 auto;

	width:96%;

	padding: 0 2%;	

	overflow:hidden;		/* This chops off any overhanging divs */

	background:#fff;		/* Left column background colour */

}



#page-content {

	position:relative;	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */

	clear:both;

	float:left;

	width:100%;			/* width of whole page */

	background:#fff;		/* Left column background colour */

}

#region-main-box {

	float:left;

	width:200%;

	position:relative;

	left:220px;

	background:#fff;    	/* Centre column background colour */

}

#region-post-box {

	float:left;

	width:100%;

	position:relative;

	left:50%;

	margin-top: 10px;

	margin-left:-440px;

	background:#fff;    	/* Right column background colour */

}



#region-main-wrap {

	float:right;

	width:50%;

	position:relative;

	right:100%;

}

#region-main-pad {

	margin:0 10px 0 450px;

}

#region-main {

	width:100%;

}

#region-pre {

	float:left;

	width:210px;

	position:relative;

	margin-left:-50%;

	left:225px;

}

#region-post {

	float:left;

	width:210px;

	position:relative;

	left:5px;

}



#page-content #region-main-box .region-content {

width: 98%;

margin: 0;

padding:0 1%;

}

#page-site-index .headingblock {

margin-bottom:9px;

margin-left: 3px;

}

#page-footer {

	clear:both;

	float:left;

	width: 100%;

	height: 70px;

	margin: 0;

	padding: 0;

	background-color: #fff;

	border-top: 1px dotted #ccc;

}





/* 

navbar and breadcrumb

-----------------------*/



.navbar {

        clear:both;

	font-size: 100%;

font-weight: bold;

	height: 3em;

	width: 100%;

        background-color: #fff;

        border-bottom:solid 1px #ddd;

}

.breadcrumb {

	float:left;

	color: #32352d;

}

.navbutton {

	text-align:right; 

	float: right; 

	margin-top: 5px;

	margin-right: 5px;

}

.navbutton .singlebutton input {

        background:#fff url([[pix:theme|navbar]]) repeat-y 50% 0;     

	border-width:1px;

	border-style:outset;

	border-color:#787878;

	font-size: 85%;

	cursor: pointer;

}



.breadcrumb ul { 

	margin-top: 10px;

	margin-left: 10px;

	text-indent:0;

	list-style:none;

}

.breadcrumb li,

.navbutton div,

.navbutton form {

	display:inline;

}



.logininfo

.breadcrumb {font-size: 1.5em;}



.breadcrumb a, 

.breadcrumb a:link,

.breadcrumb a:visited {

        color: #3a5322;

	text-decoration: none;

}



.breadcrumb a:hover,

.breadcrumb a:active { color: #787878;}



.forumpost {

	border-collapse:separate;

	border-style:solid;

	border-width:0;

	margin-top:10px;

	width: 100%;

}



.jsenabled .course_category_tree .controls {

visibility:visible;

float: right;

}



.category_label {padding-left: 20px;}



/* 

Collapse All - Expand All

-------------------------*/



div.controls .expandall,

div.controls .collapseall {

	font-size: .8em;

	color: #008db0;

	margin: 2px;

	padding: 0;

	float: right;

	clear: both;

	text-transform: capitalize;

	font-variant; small-caps;

	border-bottom: 1px solid #008db0;

}





/* 

Redirect Message

-----------------------*/

.redirectmessage,

.continuebutton { 

	text-align: center;

	font-size: 12pt;

	//color: #444;
	color:white;

	padding-bottom: 10px;

}









/* 

Docking Module 

-----------------------*/





body.has_dock { width: 97%; margin-left:3%} /* This allows you to shrink the main body of */

                                            /* your page to accomodate the docking module */



#dock {

	width:3%;

	position:fixed;

	top:0px;

	left:0px;

	height:100%;

	background: #32352c url([[pix:theme|dock/dockbg]]) repeat-y center top;

	border-right: 1px solid #444;

	z-index:11000;

}

#dock.nothingdocked {

	visibility: hidden;

	display:none;

}

#dock .controls { 

    bottom: auto;

    background-color: #7cc015;

    -webkit-border-bottom-left-radius: 6px;

    -moz-border-radius-bottomleft: 6px;

    border-bottom-left-radius: 6px;

}



#dock .dockeditem.firstdockitem { 

    margin-top: 50px;

    -webkit-border-top-left-radius: 6px;

    -moz-border-radius-topleft: 6px;

    border-top-left-radius: 6px;

}

#dock .dockeditem { 

    background-color: #fff;

    padding: 2px;

    padding-right: 0px;

}



#dock .dockedtitle {



	background: url([[pix:theme|dock/dockdiv]]) no-repeat left bottom;



	padding-bottom: 5px;



	cursor:pointer;

}



#dock .dockedtitle h2 { 
      
    margin: 0;
    
    padding: 10px 3px;

}

#dock .dockedtitle .filterrotate {

	margin-left:8px;

}



#dock .dockedtitle.activeitem { 

    background-color: #7cc015;

     width: 35px;

    -webkit-border-top-left-radius: 6px;

    -moz-border-radius-topleft: 6px;

    border-top-left-radius: 6px;

    -webkit-border-bottom-left-radius: 6px;

    -moz-border-radius-bottomleft: 6px;

    border-bottom-left-radius: 6px;

}



#dock .controls img {cursor:pointer;}



/* 

Docked Item Panel

-----------------------*/



#dockeditempanel {

        width: 250px;

	position:relative;

	z-index:12000;

	left:100%;

}

#dockeditempanel.dockitempanel_hidden {

	display:none;

}

#dockeditempanel .dockeditempanel_content { 

    background-color: #fff;

    margin: 0 3px;

    position: relative;

    min-height: 100px;

   border-color: #7cc015;

    border-style: solid;

    border-width: 5;

    -webkit-border-radius: 6px;

    -webkit-border-top-left-radius: 0;

    -moz-border-radius: 6px;

    -moz-border-radius-topleft: 0;

    border-radius: 6px;

    border-top-left-radius: 0;

}

#dockeditempanel .dockeditempanel_hd { 

    border-width: 0;

    background: #7cc015;

    padding: 2px;

}



#dockeditempanel .dockeditempanel_bd .block_docked {

	margin:10px;

}

#dockeditempanel .block_calendar_month.block_docked {

	text-align: center;

}

#dockeditempanel .dockeditempanel_hd {

	border-bottom:1px solid #000;

	text-align:right;

}

#dockeditempanel .dockeditempanel_hd h2 {

	display:inline;

	margin:0;

	padding-right:1em;

}

#dockeditempanel .dockeditempanel_hd .commands {

	display:inline;

}



#dockeditempanel .dockeditempanel_hd .commands img {

	margin-right:3px;

	vertical-align:middle;

}



/* 

PLEASE DO NOT ALTER THESE SETTING UNLESS YOU KNOW WHAT YOU ARE DOING AS IT WILL BREAK PAGE LAYOUT

-----------------------------------------------------------------------------------------------*/



/* 

SIDE-PRE-ONLY (Left Column)

---------------------------*/

.side-pre-only #region-main-box {width: 200%; left: 220px;}

.side-pre-only #region-post-box {width: 100%; left: 50%; margin-left: -220px;}

.side-pre-only #region-main-wrap {width: 50%; right: 100%;}

.side-pre-only #region-main-pad {margin: 0px 10px 0px 230px;}

.side-pre-only #region-main {width: 100%;}

.side-pre-only #region-pre {width: 210px; left: 0px; margin-left:-50%;}

.side-pre-only #region-post {width: 0px; left: 0px;}





/* 

SIDE-POST-ONLY (Right Column)

----------------------------*/

.side-post-only #region-main-box {width: 200%; left: 220px;}

.side-post-only #region-post-box {width: 100%; left: 50%; margin-left: -430px;}

.side-post-only #region-main-wrap {width: 50%; right: 100%;}

.side-post-only #region-main-pad {margin: 0px 10px 0px 200px;}

.side-post-only #region-main {width: 100%;}

.side-post-only #region-pre {width: 0px;left: 0px;}

.side-post-only #region-post {width: 210px; left: 0px;}



/* 

CONTENT ONLY - NO SIDE BLOCKS WHATSOEVER (Middle Column) 

--------------------------------------------------------*/

.content-only #region-main-box {width: 200%; left: 0px;}

.content-only #region-post-box {width: 100%; left: 50%; margin-left: 0px;}

.content-only #region-main-wrap {width: 50%; right: 100%;}

.content-only #region-main-pad {margin: 0px 10px 0px 10px;}

.content-only #region-main {width: 100%}

.content-only #region-pre { width:0;left:0;}

.content-only #region-post { width: 0;left:0;}
